html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#app {
  height: 100%;
}

.body-content {
  height: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #3b7abb;
}
.header .logo {
    float: left;
    height: 40px;
    padding: 15px 30px;
    line-height: 40px;
}

.primary-nav {
  float: right;
  width: auto;
  height: auto;
  margin-right: 5%;
}

.primary-nav ul {
    list-style: none;
    margin: 0;
}

.nav-item {
  display: inline-block;
  padding: 15px 20px;
  line-height: 40px;
}

.nav-item a {
  text-decoration: none;
  color: white;
}


.main {
  padding: 70px 50px;
  min-height: calc(100vh - 140px);
  margin-bottom: -40px;
}

.footer {
  height: 40px;
}
