html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#app {
  height: 100%;
}

.body-content {
  height: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: transparent;
}
.header .logo {
    float: left;
    height: 40px;
    padding: 15px 30px;
    line-height: 40px;
}

.primary-nav {
  float: right;
  width: auto;
  height: auto;
  margin-right: 5%;
}

.primary-nav ul {
    list-style: none;
    margin: 0;
}

.nav-item {
  display: inline-block;
  padding: 15px 20px;
  line-height: 40px;
}

.nav-item a {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.nav-item a:hover,link,active {
  text-decoration: none;
}


.main {
  padding-top: 70px;
  min-height: calc(100vh - 40px);
}

#home-section {
  margin-top: -70px;
  width: 100%;
  height: 600px;
  background: url('../images/bento.jpg');
  background-size: cover;
}

#home-section h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 250px;
  color: white;
}

#home-section button {
  display: block;
  margin: 10px auto;
}

#features {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

#features .col-md-7 {
  padding-top: 30px;
}

#features img {
  width: 80%;
  height: auto;
}

.footer {
  height: 100px;
  background-color: #888888;
}
